*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app{
    background: rgb(219,219,210);
    background: linear-gradient(0deg, rgba(219,219,210,1) 80%, rgba(0,150,136,1) 80%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 60%;
    height: 80%;
    background-color: white;
    display: flex;
}
.sx{
    width: 35%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(224,224,224);
}

.dx{
    width: 65%;
    height: 100%;
    background-color: burlywood;
    border-top: 1px solid rgb(224,224,224); border-right: 1px solid rgb(224,224,224); border-bottom: 1px solid rgb(224,224,224);
}
.header-box{
    height: 5vh;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(234,234,234);
}

img{
    height: 4vh;
    display: block;
}
.img-circle-fissa{
    height: 4vh;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url('../img/avatar_io.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
i{
    color: rgb(107,115,118);
}
.img-thumbnail{
    height: 4vh;
}
.body-box{
    width: 100%;
    min-height: calc(100% - 10vh);
    background-image: url('../img/mine.jpg');

}
.footer-box{
    width: 100%;
    height: 5vh;
    background-color: rgb(243,238,234);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-box i{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 70%;
}

.banner-notifiche{
    width: 100%;
    height: 8vh;
    background-color: #8EDAFC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.fa-bell-slash{
    font-size: 1.2em;
    color: #8EDAFC;
}
.notifiche{
    height: 5vh;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
}
.sx-body div a{
    color: rgb(87,119,149);
}
h6{
    margin-bottom: 0 !important;
}
.contatto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid rgb(233,235,235);
}

.lista-chat img{
    height: 5.6vh;

}
.orario-lista-chat{
    color: grey;
    align-self: flex-start;
    justify-self: flex-end;
}


.true{
    background-color: lightgray;
}

.sent{
    background-color: beige;
}

.received{
    align-self: flex-start;
    background-color: white;
}

.sent,
.received{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.messaggi{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 95%;
    margin: 0 auto;
}

.contatto:hover{
    background-color: rgb(228, 228, 228);
    transition: 0.6s;
}

.date{
    font-size: 0.6em;
    align-self: flex-end;
    margin-left: 15px;
}